<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.cnu.pyeongchang101.pyeongchang101">

    <application
        android:name=".Font"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoadingActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SelectEventActivity"
            android:screenOrientation="sensorLandscape"></activity>
        <activity android:name=".SelectModeActivity"
            android:screenOrientation="sensorLandscape"></activity>
    </application>

</manifest>